/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------------------------------------------------------------------- */
:root{
    /* Primary */
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);

    /* Neutral */
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%)
    
}



/* -----------------------------navbar--------------------------------- */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: var(--white);
    align-items: center;
    z-index: 10;
    transition: 0.3s;
}

#logo-main{
    background-image: url("images/logo.svg");
}

.logo{
    width: 10rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 1rem 0.5rem 0.5rem 0.5rem;
}

  #menu{
     background-image: url("images/icon-hamburger.svg");
     background-color: var(--white);
     margin-right: 1rem;
     height: 1rem;
     width: 1rem;
     background-size: cover;
     border: 0px;
 }

#tool-bar{
    position: absolute;
    top: 5rem;
    width: 80%;
    left:  0;
    right: 0%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: var(--white);
    border-radius: 5px;
    display: none;
    padding: 1rem;
    box-shadow: 0px 0px 100vh var(--dark-blue);
    z-index: 1;
}

#tool-bar > li{
    margin: 1rem;
}

#tool-bar *{
    color: var(--dark-blue);
    text-decoration: none;
}

#intro{
    height: 100vh;
}

#intro-img{
    height: 60%;
    width: 100%;
    background-image: url("images/image-mockups.png"), url("images/bg-intro-mobile.svg");/* url("images/image-mockups.png"), url("images/bg-intro-mobile.svg"); */
    background-size: cover, cover;
    background-repeat: no-repeat;
    background-position:  0 -5rem,0 -2rem;
}

#intro-text{
    padding: 0px 1rem 0px 1rem;
}

body *{
    font-family: public sans;
    font-weight: 300;
}

h1{
    text-align: center;
    margin: 1rem;
    font-size: 2.5rem;
    color: var(--dark-blue);
    font-weight: 400;
    
}
h2{
    text-align: center;
    margin: 1rem;
    font-size: 2rem;
    color: var(--dark-blue);
    font-weight: 400;
}

h3{
    text-align: center;
    margin: 1rem;
    font-size: 1.5rem;
    color: var(--dark-blue);
    font-weight: 400;
}
h4{
    text-align: center;
    margin: 1rem;
    font-size: 1.5rem;
    color: var(--dark-blue);
    font-weight: 400;
}

p{
    text-align: center;
    margin: 1rem;
    font-size: 1rem;
    color: var(--grayish-blue)
}

i{
    font-size: 0.7rem;
    font-weight: 200;
}

.invite-btn{
    margin: 2rem auto;
    display: block;
    background-image: linear-gradient(90deg, var(--lime-green), var(--bright-cyan));
    padding: 0.5rem 1rem;
    border-radius: 20px;
    color: var(--very-light-gray);
    font-weight: 400;
    border: 0px;
}

#features-head{
    padding: 4rem 1rem 1rem 1rem;
    margin: 0px;
    background-color: var(--very-light-gray);
}

#features-decs{
    padding: 1rem;
    margin: 0px;
    background-color: var(--very-light-gray);
}
#features{
    background-color: var(--very-light-gray);
    padding-bottom: 4rem;
}

.feature{
    padding: 1rem 2rem 1rem 2rem;
}

.feature-img{
    height: 5rem;
    width: 5rem;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 1rem auto 1rem auto;
}

#online{
    background-image: url("images/icon-online.svg");
}

#budgetting{
    background-image: url("images/icon-budgeting.svg");
}

#onboarding{
    background-image: url("images/icon-onboarding.svg");
}

#api{
    background-image: url("images/icon-api.svg");
}

#article-head{
    padding: 4rem 1rem 2rem 1rem;
}

.article-img{
    width: 100%;
    height: 50vw;
    position: relative;
    margin: 1rem auto 1rem auto;
    background-size: cover;
}

article{
    position: relative;
    margin: auto;
    width: 80vw;
    padding: 1rem 0px 1rem 0px;
}

article > *{
    text-align: left;
}

#articles{
    margin-bottom: 4rem
}

#currency{
    background-image: url("images/image-currency.jpg");
}

#restaurant{
    background-image: url("images/image-restaurant.jpg");
}

#plane{
    background-image: url("images/image-plane.jpg");
}

#confetti{
    background-image: url("images/image-confetti.jpg");
}

#social-media{
    display: flex;
    justify-content: center;
}

#social-media > *{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem;
    background-position: cover;
    background-repeat: no-repeat;
}

#facebook{
    background-image: url("images/icon-facebook.svg");
}

#youtube{
    background-image: url("images/icon-youtube.svg");
}

#twitter{
    background-image: url("images/icon-twitter.svg");
}

#pinterest{
    background-image: url("images/icon-pinterest.svg");
}

#instagram{
    background-image: url("images/icon-instagram.svg");
}

footer{
    background-color: var(--dark-blue);
    padding: 2rem;
}

#footer-logo{
    background-image: url("images/footer-logo.svg");
    position: relative;
    margin: 1rem auto 1rem auto;
    color: aliceblue;
}

#footer-elements > li{
    text-align: center;
    margin: 1rem;
}

a{
    color: var(--very-light-gray);;
}

#copyrights{
    margin: 1rem;
    text-align: center;
    color: var(--very-light-gray);
}

#nav-invite-btn{
    display: none;
}
/* ------------------------desktop version---------------------- */
@media only screen and (min-width: 768px){
    nav{
        justify-content: space-around;
        z-index: 2;
    }

    #tool-bar{
        display: flex;
        position: unset;
        box-shadow: none;
        background-color: inherit;
        width: auto;
        margin: 0px;
    }
    
    #tool-bar *{
        color: var(--grayish-blue);
    }

    #menu{
        display: none;
    }

    #nav-invite-btn{
        display: unset;
    }

    .invite-btn{
        margin: 0;
    }

    #intro{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    #intro-img{
        background-image: url("images/image-mockups.png") , url("images/bg-intro-desktop.svg");
        background-position: 10rem 0%, 0 0;
        height: 125vh;
        width: 50vw;
        position: relative;
        z-index: 1;
    }

    #intro-text{
        width: 30vw;
        margin: auto;
    }

    #intro-text > *{
        margin: 2rem;
        text-align: left;
    }

    #main-invite-btn{
        margin: 2rem auto 2rem 2rem;
    }

    #features{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .feature{
        max-width: 20%;
        min-width: 15rem;
    }

    #features-head{
        text-align: left;
        padding-left: 4%;
    }

    .feature > *{
        text-align: left;
    }

    #features-decs{
        text-align: left;
        padding-left: 4%;
    }

    #articles{
        display: flex;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
    }

    article{
        max-width: 20%;
        min-width: 18rem;
        margin: 1rem;
    }

    article > *{
        margin-left: 0px;
        padding-left: 0px;
    }

    .article-img{
        margin-left: 0px;
        height: 15rem;
        width: 100%;
        background-size: cover;
    }


    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 10rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    #footer-logo{
        margin: 1rem;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 10rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }


    #footer-elements{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
        margin-right: auto;
    }

    .footer-item{
        height: 33.33%;
    }

    #footer-elements > li{
        margin: 0px 3rem 0px 0px;
        padding: 0px;
        height: 33.33%;
        text-align: left;
    }

    #footer-invite-btn{
        height: 2rem;
        margin: 0px auto 2rem auto;
    }

}